{% for action in actions %}
    {% if action.name == 'edit' and entity == 'Ciclo'and ('ROLE_DIRECTOR' in app.user.roles or 'ROLE_MAESTRO' in app.user.roles or 'ROLE_PRECEPTOR' in app.user.roles )  %}


        {% elseif action.name == 'delete' and entity == 'Ciclo'and ('ROLE_DIRECTOR' in app.user.roles or 'ROLE_MAESTRO' in app.user.roles or 'ROLE_PRECEPTOR' in app.user.roles ) %}

        {% elseif action.name == 'delete' and entity == 'Mensaje'and ('ROLE_MAESTRO' in app.user.roles  ) %}

        {% elseif action.label == 'Asignar docente' and entity == 'MensajePA' and item.parentId != null %}

        {% elseif action.label == 'Aprobar' and entity == 'MensajePA' and item.parentId == null %}

        {% elseif action.label == 'Rechazar' and entity == 'MensajePA' and item.parentId == null %}

        {% else %}
            {% if 'list' == action.name %}
        {% set action_href = request_parameters.referer|default('') ? request_parameters.referer|easyadmin_urldecode : path('easyadmin', request_parameters|merge({ action: 'list' })) %}
    {% elseif 'method' == action.type %}
        {% set action_href = path('easyadmin', request_parameters|merge({ action: action.name, id: item_id })) %}
    {% elseif 'route' == action.type %}
        {% set action_href = path(action.name, request_parameters|merge({ action: action.name, id: item_id })) %}
    {% endif %}
    <a class="{{ action.css_class|default('') }}" title="{{ action.title|default('') is empty ? '' : action.title|trans(trans_parameters, translation_domain) }}" href="{{ action_href }}" target="{{ action.target }}">
        {%- if action.icon %}<i class="fa fa-{{ action.icon }}"></i> {% endif -%}
        {%- if action.label is defined and not action.label is empty -%}
            {{ action.label|trans(arguments = trans_parameters|merge({ '%entity_id%': item_id }), domain = translation_domain) }}
        {%- endif -%}
    </a>
    {% endif %}
    
    
{% endfor %}
