{% extends "easy_admin/layout.html.twig" %}

{% block content %}
    <section class="content-header">
        {% block content_header %}
            <h1 class="title">{{comunicado.titulo}}</h1>
        {% endblock content_header %}
    </section>

    <h4 style='margin-left: 15px'>Lecturas</h4>
    {% for r in comunicado.lecturas %}
        <div class="panel panel-primary" style='margin: 15px'>
        <div class="panel-heading">{{r.usuario.nombre}} {{r.usuario.apellido}}</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><strong>Fecha: </strong> {{r.fecha|date('d/m/Y H:i')}}</li>
                <li class="list-group-item"><strong>Alumnos: </strong> {% for a in r.usuario.alumnos %} {{a.nombre}} {{a.apellido}}<br/>{% endfor%}</li>
            </ul>
                
            
        </div>
    </div>
    {% endfor %}
    
{% endblock %}