{% form_theme form with easyadmin_config('design.form_theme') %}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans } %}

{% extends _entity_config.templates.layout %}

{% block body_id 'easyadmin-new-' ~ _entity_config.name %}
{% block body_class 'new new-' ~ _entity_config.name|lower %}

{% block content_title %}
{% spaceless %}
    {% set _default_title = 'new.page_title'|trans(_trans_parameters, 'EasyAdminBundle') %}
    {{ _entity_config.new.title is defined ? _entity_config.new.title|trans(_trans_parameters) : _default_title }}
{% endspaceless %}
{% endblock %}

{% block main %}
    {% block entity_form %}
        {{ form(form) }}
    {% endblock entity_form %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('.new-form').areYouSure({ 'message': '{{ 'form.are_you_sure'|trans({}, 'EasyAdminBundle')|e('js') }}' });

            $('.form-actions').easyAdminSticky();
        });

        $( document ).ready(function() {
            {% if 'ROLE_ADMIN' in app.user.roles %}
                {% else %}
                $( ".checkbox" ).first().css( {display: 'none'});
            {% endif %}
            
           
            $('#comunicado_todos').change(function() {
                if($('#comunicado_todos').is(':checked')){
                   $('#comunicado_ciclos').val([]);
                   $('#comunicado_ciclos').trigger('change');
                   $('#comunicado_divisiones').val([]);
                   $('#comunicado_divisiones').trigger('change');
                   $('#comunicado_cursos').val([]);
                   $('#comunicado_cursos').trigger('change');
                    $('#comunicado_alumnos').val([]);
                   $('#comunicado_alumnos').trigger('change');

                }
            });

            $('#comunicado_ciclos').change(function() {
                if($('#comunicado_ciclos').val()){
                    if($('#comunicado_todos').is(':checked')){
                    $('#comunicado_todos').click();
                }
                   $('#comunicado_divisiones').val([]);
                   $('#comunicado_divisiones').trigger('change');
                   $('#comunicado_cursos').val([]);
                   $('#comunicado_cursos').trigger('change');
                    $('#comunicado_alumnos').val([]);
                   $('#comunicado_alumnos').trigger('change');
                }
                
            });

            $('#comunicado_divisiones').change(function() {
                if($('#comunicado_divisiones').val()){
                     if($('#comunicado_todos').is(':checked')){
                    $('#comunicado_todos').click();
                }
                   $('#comunicado_ciclos').val([]);
                   $('#comunicado_ciclos').trigger('change');
                   $('#comunicado_cursos').val([]);
                   $('#comunicado_cursos').trigger('change');
                    $('#comunicado_alumnos').val([]);
                   $('#comunicado_alumnos').trigger('change');
                }
               
            });

            $('#comunicado_cursos').change(function() {
                if($('#comunicado_cursos').val()){
                         if($('#comunicado_todos').is(':checked')){
                    $('#comunicado_todos').click();
                }
                   $('#comunicado_ciclos').val([]);
                   $('#comunicado_ciclos').trigger('change');
                   $('#comunicado_divisiones').val([]);
                   $('#comunicado_divisiones').trigger('change');
                    $('#comunicado_alumnos').val([]);
                   $('#comunicado_alumnos').trigger('change');
                }
               
            });

            $('#comunicado_alumnos').change(function() {
                 if($('#comunicado_alumnos').val()){
                     if($('#comunicado_todos').is(':checked')){
                    $('#comunicado_todos').click();
                }
                   $('#comunicado_ciclos').val([]);
                   $('#comunicado_ciclos').trigger('change');
                   $('#comunicado_divisiones').val([]);
                   $('#comunicado_divisiones').trigger('change');
                    $('#comunicado_cursos').val([]);
                   $('#comunicado_cursos').trigger('change');
                 }

                
            });
        });
    </script>

    {{ include('@EasyAdmin/default/includes/_select2_widget.html.twig') }}
{% endblock %}
