{% extends "easy_admin/layout.html.twig" %}

{% block content %}
    <section class="content-header">
        {% block content_header %}
            <h1 class="title">{{comunicado.titulo}}</h1>
        {% endblock content_header %}
    </section>

    <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><strong>Contenido: </strong> {{comunicado.contenido}}</li>
                <li class="list-group-item"><strong>Creador: </strong> {{comunicado.creador.nombre}} {{comunicado.creador.apellido}}</li>
                <li class="list-group-item"><strong>Fecha: </strong> {{comunicado.fechaCreacion|date('d/m/Y')}}</li>
            </ul>
        </div>
    <h4 style='margin-left: 15px'>Respuestas</h4>
    {% for r in comunicado.respuestas %}
        <div class="panel panel-primary" style='margin: 15px'>
        <div class="panel-heading">{{r.titulo}}</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><strong>Contenido: </strong> {{r.contenido}}</li>
                <li class="list-group-item"><strong>Creador: </strong> {{r.creador.nombre}} {{r.creador.apellido}}</li>
                <li class="list-group-item"><strong>Fecha: </strong> {{r.fechaCreacion|date('d/m/Y')}}</li>
                <li class="list-group-item"><strong>Estatus: </strong> 
                {% if r.aprobado == 0 %}<span class="label label-default">Pendiente</span>{% endif %}
                {% if r.aprobado == 1 %}<span class="label label-success">Aprobado</span>{% endif %}
                {% if r.aprobado == 2 %}<span class="label label-danger">Rechazado</span>{% endif %}
                </li>
                
            </ul>
        </div>
    </div>
    {% endfor %}
    
{% endblock %}